button {
  border: none;
  outline: none;
  background-color: white;
  color: #efefef;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 0.5rem 1rem;
}

.submit {
  background-color: rgb(100, 100, 238);
}

.all, .less18 {
  background-color: rgb(182, 81, 81);
}