table {
  border-collapse: collapse;
  margin: 3rem auto;
  border-radius: 20px;
}

th {
  text-align: center;
  padding: 0.7rem;
}

th {
  background-color: rgba(0, 0, 255, 0.507);
  color: white;
}

th:first-child {
  border-radius: 10px 0px 0px 10px;

}

th:last-child {
  border-radius: 0px 10px 10px 0px;
}